.ui-input {
    @apply rounded-lg border;
    @apply focus:outline-0 focus:ring-1;
    @apply border-gray-200 bg-gray-50 placeholder-[#848484];
    @apply hover:border-gray-300;
    @apply dark:border-gray-800 dark:bg-gray-950 dark:caret-gray-100;
    @apply dark:hover:border-gray-700;
    @apply transition duration-300 ease-in-out;
}

.ui-input-pilled {
    @apply rounded-full !important;
}

.ui-input-squared {
    @apply rounded-none !important;
}

.ui-input-outline {
    @apply border-2 rounded-none text-[#323232] placeholder-[#848484];
    @apply focus:ring-0 bg-transparent;
}

.ui-input-disabled,
.ui-input:disabled {
    @apply pointer-events-none border-gray-200 bg-gray-200 text-gray-400 placeholder-gray-400;
    @apply dark:border-gray-600 dark:bg-gray-700;
}

/* Size */
.ui-input-xs {
    @apply h-6 px-2 text-xs;
}

.ui-input-sm {
    @apply h-8 px-3 text-sm;
}

.ui-input-md {
    @apply h-9 px-3 text-sm;
}

.ui-input-lg {
    @apply h-12 px-4 text-base;
}

.ui-input-xl {
    @apply h-14 px-5 text-lg;
}

.ui-input-2xl {
    @apply h-16 px-6 text-xl;
}

/* Group */
.ui-input-group {
    @apply relative flex items-stretch;

    .after,
    .before {
        @apply absolute bottom-0 top-0 grid place-items-center;
    }

    .before {
        @apply right-0 z-10;
    }

    .after {
        @apply right-0 z-10;
    }

    .before ~ .ui-input {
        @apply pl-9;
    }

    .after ~ .ui-input {
        @apply pr-9;
    }
}

.ui-input-invalid,
.invalid .ui-input {
    @apply border-danger-600 focus:ring-danger-600 dark:border-danger-500 dark:focus:ring-danger-500;
}

.ui-checkbox,
.ui-radio {
    @apply size-4;
    @apply cursor-pointer rounded shadow-sm transition-colors duration-150 ease-out;
    @apply border-gray-300 bg-gray-100 dark:border-gray-800 dark:bg-gray-950;
    @apply focus:ring-0 focus:ring-offset-0;

    &:checked {
        color: theme("colors.green.500");
        border-color: theme("colors.green.500");
        background-color: theme("colors.green.500");
    }

    &:focus-visible {
        @apply ring-1 ring-green-500;
    }
}

.ui-radio {
    @apply rounded-full !important;
}

/* Size */
.ui-textarea-xs {
    @apply p-2 text-xs;
}

.ui-textarea-sm {
    @apply p-3 text-sm;
}

.ui-textarea-md {
    @apply p-3 text-sm;
}

.ui-textarea-lg {
    @apply p-4 text-base;
}

.ui-textarea-xl {
    @apply p-5 text-lg;
}

.ui-textarea-2xl {
    @apply p-6 text-xl;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: theme("colors.gray.950");
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px theme("colors.gray.50");
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    @apply appearance-none;
    -webkit-appearance: none;
    margin: 0;
}

.dark {
    & input:-webkit-autofill,
    & input:-webkit-autofill:hover,
    & input:-webkit-autofill:focus,
    & input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: theme("colors.white");
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px theme("colors.gray.950");
    }
}

.spin-btn {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-position: center right;
        border-left: 1px solid theme("colors.gray.300");
        @apply absolute bottom-0 right-0 top-0 m-0 w-9 cursor-pointer appearance-none opacity-100;
        @apply bg-contain bg-no-repeat transition-opacity duration-300 ease-in-out dark:invert;
    }
}
