.ui-loading-bar-container {
  @apply absolute top-0 left-0 w-full h-1 overflow-hidden;
}

.ui-loading-bar {
  @apply h-full absolute rounded;
  animation: loading 2.5s infinite ease-in-out;
}

.ui-loading-next-bar {
  @apply h-full absolute rounded;
  animation: loading 2.5s 1s infinite ease-in-out;
}

.ui-loading-primary {
  @apply bg-primary-600/20;

  .ui-loading-bar,
  .ui-loading-next-bar {
    @apply bg-primary-600;
  }
}

.ui-loading-secondary {
  @apply bg-secondary-600/20 dark:bg-secondary-400/20;

  .ui-loading-bar,
  .ui-loading-next-bar {
    @apply bg-secondary-600 dark:bg-secondary-400;
  }
}

.ui-loading-success {
  @apply bg-success-600/20;

  .ui-loading-bar,
  .ui-loading-next-bar {
    @apply bg-success-600;
  }
}

.ui-loading-warning {
  @apply bg-warning-500/20;

  .ui-loading-bar,
  .ui-loading-next-bar {
    @apply bg-warning-500;
  }
}

.ui-loading-danger {
  @apply bg-danger-600/20;

  .ui-loading-bar,
  .ui-loading-next-bar {
    @apply bg-danger-600;
  }
}

@keyframes loading {
  0% {
    width: 0;
    transform: translateX(0);
  }

  50% {
    width: 50%;
  }

  to {
    width: 25%;
    transform: translateX(400%);
  }
}
