.ui-modal {
    @apply w-full relative my-0 mx-auto pointer-events-auto bg-white dark:bg-gray-900 rounded-t-lg sm:rounded-xl z-[1004] overflow-auto;
}

/* Size */
.ui-modal-xs {
    @apply sm:max-w-[465px];
}

.ui-modal-sm {
    @apply sm:max-w-[640px];
}

.ui-modal-md {
    @apply sm:max-w-[640px] md:max-w-[768px];
}

.ui-modal-lg {
    @apply sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px];
}

.ui-modal-xl {
    @apply sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px];
}

.ui-modal-2xl {
    @apply sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px];
}

.ui-modal-full {
    @apply w-full 2xl:max-w-[1536px];
}

.ui-modal-backdrop {
    @apply fixed top-0 left-0 w-full h-full grid place-items-end sm:place-items-center overflow-hidden sm:p-4 md:p-10 bg-black bg-opacity-60 z-[1003];
}

.ui-modal-content {
    @apply flex flex-col h-full rounded-md max-h-dvh;

    @screen sm {
        max-height: calc(100dvh - 80px);
    }
}

.ui-modal-loading {
    @apply absolute top-0 left-0 w-full h-full overflow-hidden bg-white bg-opacity-60 z-20 rounded dark:bg-gray-950 dark:bg-opacity-60;
}

.ui-modal-header {
    @apply flex flex-wrap items-start justify-between flex-shrink-0 p-4 dark:border-gray-800;

    .ui-modal-header-title {
        @apply text-mobile-subtitle-18 font-semibold text-[#323232] md:text-subtitle-22 dark:text-gray-50 ;
    }

    .ui-modal-header-description {
        @apply text-sm text-gray-500 dark:text-gray-400;
    }
}

.ui-modal-footer {
    @apply flex-shrink-0 flex flex-col-reverse sm:flex-row items-center justify-end gap-3 p-4 border-t dark:border-gray-800;

    & > * {
        @apply w-full sm:w-auto;
    }
}

.ui-modal .ui-modal-header-icons {
    @apply flex items-center;
}

.ui-modal .ui-modal-header-icon {
    @apply relative flex justify-center items-center overflow-hidden;
}

.ui-modal-enter-active,
.ui-modal-leave-active {
    @apply transition duration-300 ease-in-out;
}

.ui-modal-enter-from,
.ui-modal-leave-to {
    @apply opacity-0 transform translate-y-full sm:translate-y-0 sm:scale-75;
}

.ui-modal-backdrop-enter-active,
.ui-modal-backdrop-leave-active {
    transition: 0.3s ease-in-out;
}

.ui-modal-backdrop-enter-from,
.ui-modal-backdrop-leave-to {
    opacity: 0;
}
