.ui-table {
  @apply min-w-full table-fixed border-separate border-spacing-0 transition duration-300 ease-in-out;
}

.ui-table-container {
  @apply relative overflow-x-auto;
}

.ui-table-loading-background {
  @apply absolute left-0 right-0 top-0 z-50 bg-white bg-opacity-60 dark:bg-gray-950 dark:bg-opacity-60;
}

.ui-table-striped tbody tr {
  @apply odd:bg-gray-100 odd:dark:bg-gray-950;
}

.ui-table-striped tbody tr:nth-child(odd) {
  & .ui-table-fixed-col {
    @apply bg-gray-100 dark:bg-gray-950;
  }

  &:hover .ui-table-fixed-col {
    @apply bg-gray-200 dark:bg-gray-800;
  }
}

.ui-table-hover tbody tr {
  @apply hover:bg-gray-200 dark:hover:bg-gray-800;
}

.ui-table-clickable tbody tr {
  @apply cursor-pointer;
}

.ui-table-nowrap {
  @apply whitespace-nowrap;
}

.ui-table-gridline {
  & th:not(:last-child),
  & td:not(:last-child) {
    @apply border-r dark:border-gray-800;
  }
}

.ui-table-head-col {
  @apply flex items-center gap-2 font-medium;
}

.ui-table-select-col {
  @apply w-9;
}

.ui-table-fixed-col {
  @apply sticky bg-white group-hover:bg-gray-200 dark:bg-gray-900 dark:group-hover:bg-gray-800;
}

.hovered .ui-table-fixed-col {
  @apply bg-gray-200 dark:bg-gray-800 !important;
}

.ui-table-skeleton {
  min-width: 1rem;
  @apply rounded-full bg-gray-200 dark:bg-gray-700;
}

thead {
  @apply whitespace-nowrap text-left text-xs transition-colors duration-300 ease-in-out;

  & th {
    @apply select-none border-b px-4 py-2.5 transition duration-300 ease-in-out;
    @apply bg-white text-gray-500 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-400;

    &.sortable {
      @apply cursor-pointer;
    }
  }
}

tbody {
  @apply bg-white text-xs font-medium dark:bg-gray-900;

  & tr.hovered {
    @apply bg-gray-200 dark:bg-gray-800 !important;
  }

  & tr td {
  }
}

.ui-table-rounded {
  thead {
    th {
      @apply border-b-0;

      &:first-child {
        @apply rounded-l-lg;
      }

      &:last-child {
        @apply rounded-r-lg;
      }
    }
  }

  tbody {
    tr {
      td:first-child {
        @apply rounded-l-lg;
      }

      td:last-child {
        @apply rounded-r-lg;
      }
    }
  }
}

.ui-table:not(.ui-table-linked) tbody td,
.ui-table-select-col,
.ui-table-blank-row,
.ui-table-without-link {
  @apply px-4 py-2.5;
}

.ui-table-linked tbody td > a {
  @apply inline-block w-full px-4 py-3;
}

.ui-table-empty-row {
  @apply py-3 text-center text-sm text-gray-400;
}

.ui-table-footer {
  @apply border-t py-3 dark:border-gray-800;

  &.stuck {
    @apply sticky bottom-0 z-50 w-full bg-gray-50 dark:bg-gray-900;
  }

  &-content {
    @apply flex flex-col justify-between gap-3 sm:flex-row sm:items-center;
  }

  &-left {
    @apply flex w-full justify-start;
  }

  &-right {
    @apply order-2 flex w-full justify-end sm:order-3;
  }
}
