.bg-grid {
  background-size: 100px 100px;
  background-position: top center;
  background-image:
    linear-gradient(to right, theme("colors.gray.200") 1px, transparent 1px),
    linear-gradient(to bottom, theme("colors.gray.200") 1px, transparent 1px);
}

.dark .bg-grid {
  background-image:
    linear-gradient(to right, theme("colors.gray.900") 1px, transparent 1px),
    linear-gradient(to bottom, theme("colors.gray.900") 1px, transparent 1px);
}

.bg-radial::before {
  @apply fixed inset-0;
  content: "";
  background-image: radial-gradient(circle, theme("colors.primary.50"), transparent);
}

.dark .bg-radial::before {
  background-image: radial-gradient(circle, theme("colors.primary.950"), transparent);
}

.before-linear-to-b {
  background-position: top center;
}

.before-linear-to-t {
  background-position: bottom center;
}

.before-linear-to-b::before {
  content: "";
  @apply fixed inset-0 bg-gradient-to-b from-transparent to-gray-100 dark:to-gray-950;
}

.before-linear-to-t::before {
  content: "";
  @apply fixed inset-0 bg-gradient-to-t from-transparent to-gray-100 dark:to-gray-950;
}
