/* Fade */
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Fade */
.fast-fade-enter-active,
.fast-fade-leave-active {
  transition: 0.15s ease-in-out;
}

.fast-fade-enter-from,
.fast-fade-leave-to {
  opacity: 0;
}

/* Slide up */
.slide-up-enter-active,
.slide-up-leave-active {
  @apply transition duration-300 ease-in-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
  @apply translate-y-full opacity-0;
}

/* Slide down */
.slide-down-enter-active,
.slide-down-leave-active {
  @apply transition duration-300 ease-in-out;
}

.slide-down-enter-from,
.slide-down-leave-to {
  @apply -translate-y-24 opacity-0;
}

/* Slide left */
.slide-left-enter-active,
.slide-left-leave-active {
  @apply transition duration-300 ease-in-out;
}

.slide-left-enter-from,
.slide-left-leave-to {
  @apply translate-x-full opacity-0;
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(1.025);
}
